.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0px 20px;
}

.result-content {
    width: 100%;
    background-color: #fff;
    padding: 0px 20px;
}

.templateContainer {
    width: 50%;
    margin-right: 10px;
}

.result-templateContainer {
    width: 100%;
    margin-right: 10px;
}

.formContainer {
    width: 50%;
    margin-right: 10px;
    overflow-x: hidden;
}

.result-formContainer {
    width: 100%;
    margin-right: 10px;
    overflow-x: hidden;
}

.documentViewContainer {
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    min-height: 200px;
}

.logoContainer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 173px;
    height: 174px;
    background-image: url("../img/logo.svg");
    background-size: cover;
    transform: translateY(-10px);
    top: 0;
    right: 0;
    opacity: .2;
}

.arpanuLogoContainer {
    position: absolute;
    display: flex;
    align-items: center;
    width: 225px;
    height: 174px;
    top: 0;
    right: 0;
}

.arpanuLogo {
    width: 153px;
    height: 52px;
    transform: translateY(-7px);
    background-image: url("../img/arpanuLogo.svg");
    background-size: cover;
}

.proFormaInvoiceContainer {
    width: 78%;
    height: 50px;
    margin-top: 100px;
}

.proformaInvoice {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
    padding: 0px 20px;
}

.proformaInvoiceDescription {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #000000;
    padding: 5px 20px;
}

.services {
    width: 95%;
    height: 30px;
    border-radius: 4px;
    background: #ff8000;
    background: linear-gradient(99deg, #ff8000 0.00%, #f84500 100.00%);
    color: #fff;
    transform: translateX(15px);
    display: flex;
    justify-content: space-between;
}

.services>div:nth-child(1) {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 0px 20px;
}

.services>div:nth-child(2) {
    width: 30%;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin: 5px 0px;
    border-left: 1px solid #E4DEDD;

}

.dataValue {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ffffff;
    padding: 0px 10px;
}

.table {
    width: 95%;
    height: 100px;
    border: 1px solid #555;
    transform: translateX(15px);
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    padding: 10px 0px;
}

.row1 {
    width: 60%;
    padding: 15px 10px;
}

.row1>div:nth-child(1) {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.row1>div:nth-child(2) {
    opacity: 0.50;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
    padding-top: 5px;
}

.row2 {
    width: 20%;
    padding: 15px 10px;
}

.row2>div:nth-child(1) {
    
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.row2>div:nth-child(2) {
   
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
    padding-top: 5px;
}

.row3 {
    width: 20%;
    padding: 15px 10px;
    border-left: 1px solid #7F8C8D;
}

.row3>div:nth-child(1) {
    
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #000000;
}

.row3>div:nth-child(2) {
    
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #000000;
    padding-top: 5px;
}

.table2 {
    width: 95%;
    height: 180px;
    border: 1px solid #555;
    transform: translateX(15px);
    border-radius: 8px;
    margin-top: 15px;
    padding: 0px 15px;
}

.t2row1 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7F8C8D;
}

.textCustomizing {
    
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.t2row2 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7F8C8D;
}

.t2row3 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.sectionAmount {
    width: 95%;
    height: 190px;
    transform: translateX(15px);
    border-radius: 8px;
    margin-top: 15px;
    padding: 0px 15px;
    position: relative;
}

.amountContainer {
    width: 158px;
    height: 194px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
    border-radius: 6px;
    background: #d5d5d5;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    display: flex;
    align-items: center;
}

.tutar {
   
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.value {
   
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #000000;
}

.Line {
    border-bottom: 1px solid #7F8C8D;
}

.dataGeneratorContainer {
    width: 100%;
    padding: 10px;
    min-height: 64vh;
    margin-top: 50px;
    border: 1px solid #555;
    border-radius: 8px;
    position: relative;
}

.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    text-align: center;
}

.transformation {
    transform: translateX(-8px);
}

label {
    font-size: 14px !important;
}

.btnContainer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    bottom: 0;
}

.btnBox {
    width: 20%;
    margin: 20px 30px;
}

.btn-lg {
    width: 100%;
}
.form-control{
    font-weight: 500 !important;
}
.select2-selection__rendered{
    color:#000 !important;
}
.LayoutContainer{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

.Layout{
    width: 95%;
    height: 100%;
}
.subLayout{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 8px;
    transform: translateX(-3px);
    display: flex;
    align-items: center;
    padding: 0 10px;
}